body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(../image/l1.jpg);
    background-size: cover;
    background-position: center;
}
.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}
.login-left{
    background: rgba(211,211,211,0.5);
    padding: 30px;
}
.login-right{
    background: #fff;
    padding: 30px;
}
.form-control{
    background-color: transparent !important;
}


form.formclass label{
    width: 30%;
    float: left;
    
}

form.formclass input{
    width: 60%;
}

form.formclass button{
    width: 200px;
    margin-top: 20px;
    
}

.buttonclass{
    width: 30px;
}